backend/services/recommendation_model/pytorch_model.bin
.qodo
__pycache__/
*.pyc


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.qodo
backend/static/analytics_figures/complaints_by_category.html
backend/static/analytics_figures/complaints_over_time.html
backend/static/analytics_figures/response_time_by_dept.html
backend/static/analytics_figures/response_time_dist.html
backend/static/analytics_figures/status_distribution.html
backend/static/analytics_figures/top_subcategories.html
backend/services/__pycache__/recommender.cpython-310.pyc
backend/services/__pycache__/classification.cpython-310.pyc
backend/models/__pycache__/user.cpython-310.pyc
